body {
	color: #646468;
	font-family: 'EB Garamond', sans-serif;
  font-size: 18px;
  font-weight: 400;
	line-height: 26px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', sans-serif;
	color: black;
	font-weight: 500;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: #1B84F7;
}

a:focus, a:hover {
	color: #2B3D52;
	text-decoration: none;
}

.container {
	margin-top: 40px;
	margin-bottom: 20px;
}

.row {
	padding-right: 20px;
	padding-left: 20px;
}

.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
}

.tz-gallery .row > div {
    padding: 10px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}

.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.home h2 {
	font-size: 42px;
	line-height: 52px;
}

.headline h1 {
  font-size: 64px;
	padding-right: 20px;
	font-weight: 700;
}

.image {
	padding-right: 20px;
	padding-left: 20px;
}

/* Footer */
.copyright {
	width: 100%;
	padding: 10px 0 40px 0;
	color: #cad0d5;
  font-size: 12px;
}

.bottom {
	padding-bottom: 60px;
}

.social-footer {
	width: 100%;
  color: #686868;
  font-size: 20px;
  text-align: center;
  float: left;
}

.social-footer a {
	color: #cad0d5;
  padding: 20px;
}

a.fb-color :hover {
  color: #3B5998;
}

a.tw-color :hover {
  color: #0084b4;
}

a.in-color :hover {
  color: #fbad50;
}

a.db-color :hover {
  color: #ea4c89;
}
